* {
  box-sizing: border-box;
}

.row {
  margin: 0;
}

body {
  font-family: "Arial";
}

.about {
  padding: 0;
  width: 100%;
}
.about .top {
  background: #202020;
  font-size: 13px;
  margin: 0;
}
.about .top_page {
  color: #898989;
}
.about .header_top {
  height: 100%;
}
.about .header_top_left i {
  color: #898989;
}
.about .header_top_left a {
  color: #898989;
  font-size: 13px;
}
.about .header_top_middle {
  padding: 0;
  letter-spacing: 6px;
  margin-top: 4px;
}
.about .header_top_middle i {
  color: #898989;
}
.about .header_top_right {
  margin-top: 4px;
}
.about a i {
  padding-right: 38px;
  color: #898989;
}

.header-banner {
  background: url("../images/hdt.png");
}
.header-banner .content__galary__img1 {
  width: 100%;
  padding-top: 4%;
}
.header-banner .content__galary__img2 {
  padding: 0px;
}
.header-banner .content_header img {
  width: 100%;
}
.header-banner .content_header .content_galary {
  display: flex;
}
.header-banner .content_header .content_galary h2 {
  font-family: "VNF MuseoBook";
  color: #3fb871;
}
.header-banner .content_header .content_galary span {
  font-family: "VNF Shelia";
}
.header-banner .content_icon {
  padding-left: 0px;
  margin: 0;
  padding-top: 8px;
}
.header-banner .content_icon a {
  color: #898989;
  margin-left: 21px;
  letter-spacing: 1px;
}
.header-banner .header-search-home {
  display: flex;
}
.header-banner .header-search-home .btn {
  position: relative;
}
.header-banner .header-search-home span.icon_search {
  border: none;
  font-size: 10pt;
  float: left;
  color: #63717f;
  top: 30%;
  left: 90%;
  position: absolute;
}
.header-banner .header-search-home input[type=text] {
  width: 352px;
  border: solid 1px #ccc;
  border-radius: 50px;
  padding: 6px 10px 6px 30px;
}
.header-banner .header-search-home .recyle {
  padding-top: 11px;
  padding-left: 20px;
}

.menu {
  background: #3fb871;
  padding: 20px;
  margin: 0;
}

ul.navbar-nav li a {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  margin-left: 93px;
}

ul.dropdown-menu li a {
  color: #3fb871;
  text-decoration: none;
  margin-left: 24px;
  font-weight: bold;
}
ul.dropdown-menu li a:hover {
  color: white;
  background: #3fb871;
}

.icon_menu {
  width: 35px;
}
.icon_menu .menu_icon {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
}

.row.menu {
  background: #3fb871;
  padding: 20px;
  margin: 0;
}

ul.navbar-nav li a {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  margin-left: 93px;
}

ul.dropdown-menu li a {
  color: #3fb871;
  text-decoration: none;
  margin-left: 24px;
  font-weight: bold;
}
ul.dropdown-menu li a:hover {
  color: white;
  background: #3fb871;
}

.icon_menu {
  width: 35px;
}
.icon_menu .menu_icon {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
}

.row.menu {
  background: #3fb871;
  padding: 20px;
  margin: 0;
}

ul.navbar-nav li a {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  margin-left: 93px;
}

ul.dropdown-menu li a {
  color: #3fb871;
  text-decoration: none;
  margin-left: 24px;
  font-weight: bold;
}
ul.dropdown-menu li a:hover {
  color: white;
  background: #3fb871;
}

.icon_menu {
  width: 35px;
}
.icon_menu .menu_icon {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
}

.section_input1 {
  margin-top: 20px;
  font-size: 14px;
}
.section_input1 .stt2_spc h5 {
  font-size: 14px;
  color: #aaaaaa;
}
.section_input1 .stt2_spc span {
  border: none;
  color: #3fb871;
}

.section_input2 .form {
  padding: 0;
}
.section_input2 .input_text {
  margin-top: 14%;
  color: #3fb871;
  text-transform: uppercase;
}
.section_input2 .input_text h4 {
  font-weight: bold;
}
.section_input2 .input_box_form {
  margin-top: 60px;
  font-size: 13px;
  color: #aaaaaa;
}
.section_input2 .input_box1 {
  margin-top: 30px;
}
.section_input2 .input_box1 a:hover {
  background: white;
  color: #3fb871;
}

.text_info {
  font-size: 13px;
  padding-left: 42px;
}
.text_info h3 {
  font-weight: bold;
}
.text_info .text_info_1 {
  margin-top: 16%;
  font-size: 22px;
  color: #3fb871;
  text-transform: uppercase;
}
.text_info .text_info_content {
  margin-top: 27px;
  color: #aaaaaa;
  font-size: 13px;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 30%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px solid;
  border-radius: 40px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #45a049;
}

.checkbox_row {
  margin-top: 57px;
}
.checkbox_row .checkbox_row_text {
  margin-top: 3px;
  padding: 0;
}
.checkbox_row .checkbox_row_text .input_text1 {
  margin-top: -1px;
  font-size: 13px;
  padding-left: 27px;
  color: #aaaaaa;
  font-style: italic;
}
.checkbox_row p {
  font-size: 14px;
}
.checkbox_row .container {
  color: #aaaaaa;
  display: block;
  position: relative;
  padding-left: 28px;
  margin-top: 0;
  cursor: pointer;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox_row .container p {
  font-size: 13px;
}
.checkbox_row .container input {
  width: 0;
}
.checkbox_row .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: white;
  border: 1px solid gray;
}
.checkbox_row .container input:checked ~ .checkmark {
  background-color: green;
}
.checkbox_row .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkbox_row .container input:checked ~ .checkmark:after {
  display: block;
}
.checkbox_row .container .checkmark:after {
  left: 7px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.footer {
  background: #313131;
  margin-top: 40px;
}
.footer .information {
  color: #898989;
  font-family: "Arial";
  font-weight: bold;
  padding-top: 47px;
  text-transform: uppercase;
}
.footer .information .information_icon a i {
  color: #898989;
  letter-spacing: 27px;
}
.footer .information .information_email p {
  font-size: 14px;
}
.footer .information .information_button i {
  float: right;
  background: #3fb871;
  padding: 10px;
  color: white;
}
.footer .information .information_button .box {
  float: right;
  width: 76%;
  height: 61%;
  margin: 0;
}
.footer hr {
  background: #898989;
}
.footer .company_information {
  color: #898989;
  margin-top: 40px;
}
.footer .company_information .banner_company_information p {
  line-height: 29px;
  font-size: 12px;
  font-family: "Arial";
}
.footer .company_information .banner_company_information i {
  line-height: 35px;
}
.footer .company_information .banner_company_information i::before {
  padding-right: 13px;
  color: #3daa6a;
}
.footer .company_information .customer_company_information, .footer .company_information .service_company_information, .footer .company_information .policy_company_information, .footer .company_information .news_company_information {
  margin: 30px 0px;
  padding: 0;
}
.footer .company_information .customer_company_information h5, .footer .company_information .service_company_information h5, .footer .company_information .policy_company_information h5, .footer .company_information .news_company_information h5 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  color: #3fb871;
}
.footer .company_information .customer_company_information ul, .footer .company_information .service_company_information ul, .footer .company_information .policy_company_information ul, .footer .company_information .news_company_information ul {
  padding: 0;
  line-height: 44px;
}
.footer .company_information .customer_company_information ul li, .footer .company_information .service_company_information ul li, .footer .company_information .policy_company_information ul li, .footer .company_information .news_company_information ul li {
  list-style: none;
  font-size: 12px;
}
.footer .company_information .customer_company_information ul li i::before, .footer .company_information .service_company_information ul li i::before, .footer .company_information .policy_company_information ul li i::before, .footer .company_information .news_company_information ul li i::before {
  padding-right: 4px;
}
.footer .company_information .service_company_information {
  padding-left: 35px;
}
.footer .company_information .policy_company_information {
  padding-left: 25px;
}
.footer .company_information .news_company_information {
  padding-left: 60px;
  margin-right: 0;
}

.contact_company .contact_company_left {
  padding: 10px 0px;
}
.contact_company .contact_company_left ul {
  padding: 0;
}
.contact_company .contact_company_left ul li {
  display: inline;
  padding-right: 20px;
}
.contact_company .contact_company_left ul li a {
  color: #898989;
}
.contact_company .contact_company_right {
  float: right;
}
.contact_company .contact_company_right ul {
  padding: 10px 10px;
}
.contact_company .contact_company_right ul li {
  display: inline;
}
.contact_company .contact_company_right ul li a {
  padding-right: 10px;
  font-size: 18px;
  color: #898989;
}

.idesign {
  background: #434343;
  color: #898989;
  justify-content: center;
}

/*# sourceMappingURL=input.css.map */
