.section_icon1_item1_chung {
	text-align: center;
	padding-top :26px;
	padding-bottom: 35px;
	width: 100%;
	i {
		color: #febf01;
		padding-bottom: 15px;
	}
	a.mainprice {
		color: #ed1c24;
		padding-right: 10px;
	}
	a.secondprice {
		text-decoration: line-through;
		color: #aaaaaa;
	}
}
