$color-star: #febf01;
$color-red: #d64146;
$color-pink: #ed1c24;
$color-green: #3fb871;
$color-border: #e1e1e1;
$color-gray-dark: #898989;
$color-gray: #aaaaaa;
$font-size: 13px;
$size: 14px;
$width-padding: 5px;
$width-small: 10px;
$width-medium: 15px;
$color-icon: 28px;
