.row.footer
	.container
		.row.information
			.information_icon.col-md-4
				.information_name Kênh thông tin từ chúng tôi:
				.information_icon 
					a
						i.fab.fa-facebook-f(title='Facebook')
					a
						i.i.fab.fa-youtube(title='Youtube')
					a
						i.fab.fa-tumblr(title='Pinterest')
					a
						i.i.fab.fa-vimeo-v(title='Vimeo')
			.information_email.col-md-2
				p Đăng ký nhận email từ chúng tôi
			.information_button.col-md-6
				i.fab.fa-telegram-plane
				input.box(type='text')
		hr
		.row.company_information 
			.banner_company_information.col-md-4
				img(src='../images/title2.png')
				p Green shop được thành lập từ 8/2010 được sự tin tưởng của khách hàng trong suốt thời gian hoạt động đến nay cửa hàng ngày một phát triển
				i.fas.fa-mobile-alt Điện thoại : (84-4) 66.558.868
				i.far.fa-envelope Email: info@dkt.com.vn
			.customer_company_information.col-md-2
				h5 Thông tin khách hàng
				ul
					li
						i.fas.fa-chevron-right Tài khoản của tôi
					li
						i.fas.fa-chevron-right Sản phẩm yêu thích
					li
						i.fas.fa-chevron-right Lịch sử mua hàng
					li
						i.fas.fa-chevron-right Chính sách đổi trả
					li
						i.fas.fa-chevron-right Góp ý, khiếu nại
			.service_company_information.col-md-2
				h5 Hỗ trợ dịch vụ
				ul
					li
						i.fas.fa-chevron-right Hệ thống cửa hàng
					li
						i.fas.fa-chevron-right Hướng dẫn mua hàng
					li
						i.fas.fa-chevron-right Hướng dẫn thanh toán
					li
						i.fas.fa-chevron-right Tích điểm đổi quà
					li
						i.fas.fa-chevron-right Câu hỏi thường gặp
			.policy_company_information.col-md-2
				h5 Chính sách ưu đãi
				ul
					li
						i.fas.fa-chevron-right Chính sách giao hàng
					li
						i.fas.fa-chevron-right Chính sách đổi trả sản phẩm
					li
						i.fas.fa-chevron-right Chính sách bảo hành
					li
						i.fas.fa-chevron-right Giới thiệu sản phẩm mới
					li
						i.fas.fa-chevron-right Chính sách trả góp
			.news_company_information.col-md-2
				h5 Tin tức
				ul
					li
						i.fas.fa-chevron-right Tin mới
					li
						i.fas.fa-chevron-right Khuyến mại
					li
						i.fas.fa-chevron-right Tuyển dụng
					li
						i.fas.fa-chevron-right Dowload
					li
						i.fas.fa-chevron-right Tags
		hr
		.row.contact_company
			.col-md-7
				.contact_company_left
					ul
						li
							a Sitemap
						li
							a Danh mục sản phẩm
						li
							a Hợp tác
						li
							a Thông tin liên hệ
						li
							a Câu hỏi thường gặp
			.col-md-5
				.contact_company_right
					ul
						li
							a
								i.fab.fa-cc-visa
							a
								i.fab.fa-cc-mastercard
							a
								i.fab.fa-cc-paypal
							a
								i.fab.fa-cc-discover
		.row.idesign
			p Thiết kế bởi Bizweb &copy;