.row.setion2_item1
	.stt2_spc
		h5
			span Danh mục sản phẩm
		hr
.setion2_item1_item.row
	ul
		-var array=["Cây chậu treo ( 10 )","Cây có hoa( 5 )","Cây dây leo","Cây để bàn","Cây may mắn","Cây trang trí","Cây nội thất"]
			each value in array
				li
					i.fas.fa-chevron-right=value
					